# Подгружаем данные

In [1]:
import pandas as pd

In [6]:
train_df = pd.read_parquet('public_train.pqt')
train_df.head()

         age is_male  user_id
350459  31.0       1   350459
188276  35.0       1   188276
99002   41.0       0    99002
155506  33.0       0   155506
213873  54.0       0   213873

In [7]:
sample_df = pd.read_csv('sample_submission.csv')
sample_df.head()

   user_id  age   is_male
0        6    2  0.330467
1       11    5  0.725477
2       19    1  0.240190
3       27    2  0.536798
4       32    3  0.471325

In [8]:
submit_df = pd.read_parquet('submit_2.pqt')
submit_df.head()

        user_id
221301   221301
31271     31271
211594   211594
253119   253119
192578   192578

In [38]:
part_df_1 = pd.read_parquet('competition_data_final_pqt/part-00000-aba60f69-2b63-4cc1-95ca-542598094698-c000.snappy.parquet')
part_df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32638709 entries, 0 to 32638708
Data columns (total 12 columns):
 #   Column                 Dtype
---  ------                 -----
 0   region_name            object
 1   city_name              object
 2   cpe_manufacturer_name  object
 3   cpe_model_name         object
 4   url_host               object
 5   cpe_type_cd            object
 6   cpe_model_os_type      object
 7   price                  float64
 8   date                   object
 9   part_of_day            object
 10  request_cnt            int64
 11  user_id                int64
dtypes: float64(1), int64(2), object(9)
memory usage: 2.9+ GB

In [39]:
part_df_1.head()

,region_name,city_name,cpe_manufacturer_name,cpe_model_name,url_host,cpe_type_cd,cpe_model_os_type,price,date,part_of_day,request_cnt,user_id
0,Краснодарский край,Краснодар,Apple,iPhone 7,ad.adriver.ru,smartphone,iOS,20368.0,2022-06-15,morning,1,45098
1,Краснодарский край,Краснодар,Apple,iPhone 7,apple.com,smartphone,iOS,20368.0,2022-06-19,morning,1,45098
2,Краснодарский край,Краснодар,Apple,iPhone 7,avatars.mds.yandex.net,smartphone,iOS,20368.0,2022-06-12,day,1,45098
3,Краснодарский край,Краснодар,Apple,iPhone 7,googleads.g.doubleclick.net,smartphone,iOS,20368.0,2022-05-16,day,1,45098
4,Краснодарский край,Краснодар,Apple,iPhone 7,googleads.g.doubleclick.net,smartphone,iOS,20368.0,2022-05-30,day,1,45098

In [40]:
part_df_1['city_name'].value_counts()

Москва             4768096
Санкт-Петербург    2065859
Краснодар           928547
Новосибирск         902115
Уфа                 863489
                    ...
Сычёвка                  1
Мосальск                 1
Новоузенск               1
Сенгилей                 1
Красавино                1
Name: city_name, Length: 962, dtype: int64

In [41]:
part_df_1['region_name'].value_counts()

Москва                     4768096
Краснодарский край         2622421
Московская область         2102951
Санкт-Петербург            2065859
Республика Башкортостан    1570337
                            ...
Еврейская АО                 18446
Ненецкий АО                   6242
Республика Калмыкия           1837
Чукотский АО                   651
Республика Ингушетия           377
Name: region_name, Length: 80, dtype: int64

In [42]:
gl_obj = part_df_1.select_dtypes(include='object').copy()
gl_obj.describe()

,region_name,city_name,cpe_manufacturer_name,cpe_model_name,url_host,cpe_type_cd,cpe_model_os_type,date,part_of_day
count,32638709,32638709,32638709,32638709,32638709,32638709,32638709,32638709,32638709
unique,80,962,33,514,77904,4,3,396,4
top,Москва,Москва,Apple,iPhone 11,googleads.g.doubleclick.net,smartphone,Android,2021-06-16,day
freq,4768096,4768096,12647538,2990038,2209179,32630468,19991171,717108,10855713

In [43]:
part_df_1_copy = part_df_1.copy()

In [44]:
columns = gl_obj.columns
for column in columns:
    dow = gl_obj[column]
    dow_cat = dow.astype('category')
    part_df_1_copy[column] = dow_cat
part_df_1_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32638709 entries, 0 to 32638708
Data columns (total 12 columns):
 #   Column                 Dtype
---  ------                 -----
 0   region_name            category
 1   city_name              category
 2   cpe_manufacturer_name  category
 3   cpe_model_name         category
 4   url_host               category
 5   cpe_type_cd            category
 6   cpe_model_os_type      category
 7   price                  float64
 8   date                   category
 9   part_of_day            category
 10  request_cnt            int64
 11  user_id                int64
dtypes: category(9), float64(1), int64(2)
memory usage: 1.2 GB

In [45]:
part_df_1_copy['user_id'].value_counts()

200172    17481
386898    15133
63338     15022
54728     14604
293590    13237
          ...
388442        1
199276        1
20917         1
174298        1
257257        1
Name: user_id, Length: 41594, dtype: int64

In [46]:
# part_df_1_copy['price'] = part_df_1_copy['price'].astype('uint32')
part_df_1_copy['request_cnt'] = part_df_1_copy['request_cnt'].astype('uint8')
part_df_1_copy['user_id'] = part_df_1_copy['user_id'].astype('uint32')

In [47]:
part_df_1_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32638709 entries, 0 to 32638708
Data columns (total 12 columns):
 #   Column                 Dtype
---  ------                 -----
 0   region_name            category
 1   city_name              category
 2   cpe_manufacturer_name  category
 3   cpe_model_name         category
 4   url_host               category
 5   cpe_type_cd            category
 6   cpe_model_os_type      category
 7   price                  float64
 8   date                   category
 9   part_of_day            category
 10  request_cnt            uint8
 11  user_id                uint32
dtypes: category(9), float64(1), uint32(1), uint8(1)
memory usage: 874.2 MB

In [54]:
part_df_1_copy.head()

,region_name,city_name,cpe_manufacturer_name,cpe_model_name,url_host,cpe_type_cd,cpe_model_os_type,price,date,part_of_day,request_cnt,user_id
0,Краснодарский край,Краснодар,Apple,iPhone 7,ad.adriver.ru,smartphone,iOS,20368.0,2022-06-15,morning,1,45098
1,Краснодарский край,Краснодар,Apple,iPhone 7,apple.com,smartphone,iOS,20368.0,2022-06-19,morning,1,45098
2,Краснодарский край,Краснодар,Apple,iPhone 7,avatars.mds.yandex.net,smartphone,iOS,20368.0,2022-06-12,day,1,45098
3,Краснодарский край,Краснодар,Apple,iPhone 7,googleads.g.doubleclick.net,smartphone,iOS,20368.0,2022-05-16,day,1,45098
4,Краснодарский край,Краснодар,Apple,iPhone 7,googleads.g.doubleclick.net,smartphone,iOS,20368.0,2022-05-30,day,1,45098

In [48]:
part_df_1_copy['price'].isna().sum()

674264

In [49]:
part_df_1_copy['price'].value_counts()

14990.0    333652
7990.0     316551
15990.0    315270
10990.0    308171
9990.0     256059
            ...
15614.0         1
17665.0         1
5557.0          1
10463.0         1
21783.0         1
Name: price, Length: 13888, dtype: int64

In [51]:
from tqdm.notebook import tqdm
phone_model__price = {}

part_df_1_copy_1 = part_df_1_copy.loc[part_df_1_copy['price'].isna() == False] # Без пропусков в цене
ser_cpe_model_name = part_df_1_copy_1['cpe_model_name'].unique() # Уникальные модели телефонов
part_df_1_copy_2 = part_df_1_copy.loc[
    (part_df_1_copy['price'].isna() == True) & (part_df_1_copy['cpe_model_name'] in ser_cpe_model_name)
]

AttributeError: 'Categorical' object has no attribute 'head'

In [56]:
df_model_phone = part_df_1_copy[['cpe_model_name', 'price']]

df_model_phone_pt = pd.pivot_table(df_model_phone, index=['cpe_model_name'], values=['price'], aggfunc=['first', 'count'])
df_model_phone_pt

                  price
cpe_model_name
1                3990.0
1 Dual           2426.0
11 Lite 5G NE   29990.0
11T             41657.0
1904            11990.0
...                 ...
iPhone SE 2020  38214.0
iPhone X        67199.0
iPhone XR       51311.0
iPhone Xs       85162.0
iPhone Xs Max   56270.0

[399 rows x 1 columns]

In [ ]:
for row in tqdm(part_df_1_copy.iterrows(), total=part_df_1_copy.shape[0]):
    model = row[1]['cpe_model_name']

    phone_model__price[row[1]['cpe_model_name']] = row[1]['price']

phone_model__price