In [1]:
import numpy as np
import pandas as pd

In [4]:
part_1_pd=pd.read_parquet('/kaggle/input/mts-ml-cup/part-00000-aba60f69-2b63-4cc1-95ca-542598094698-c000.snappy.parquet')

In [5]:
part_1_pd.head()

,region_name,city_name,cpe_manufacturer_name,cpe_model_name,url_host,cpe_type_cd,cpe_model_os_type,price,date,part_of_day,request_cnt,user_id
0,Краснодарский край,Краснодар,Apple,iPhone 7,ad.adriver.ru,smartphone,iOS,20368.0,2022-06-15,morning,1,45098
1,Краснодарский край,Краснодар,Apple,iPhone 7,apple.com,smartphone,iOS,20368.0,2022-06-19,morning,1,45098
2,Краснодарский край,Краснодар,Apple,iPhone 7,avatars.mds.yandex.net,smartphone,iOS,20368.0,2022-06-12,day,1,45098
3,Краснодарский край,Краснодар,Apple,iPhone 7,googleads.g.doubleclick.net,smartphone,iOS,20368.0,2022-05-16,day,1,45098
4,Краснодарский край,Краснодар,Apple,iPhone 7,googleads.g.doubleclick.net,smartphone,iOS,20368.0,2022-05-30,day,1,45098

In [6]:
part_1_pd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32638709 entries, 0 to 32638708
Data columns (total 12 columns):
 #   Column                 Dtype
---  ------                 -----
 0   region_name            object
 1   city_name              object
 2   cpe_manufacturer_name  object
 3   cpe_model_name         object
 4   url_host               object
 5   cpe_type_cd            object
 6   cpe_model_os_type      object
 7   price                  float64
 8   date                   object
 9   part_of_day            object
 10  request_cnt            int64
 11  user_id                int64
dtypes: float64(1), int64(2), object(9)
memory usage: 2.9+ GB

In [7]:
#part_1_pd.date.value_counts()

In [8]:
part_1_pd_without_date=part_1_pd.copy()
part_1_pd_without_date.head()

,region_name,city_name,cpe_manufacturer_name,cpe_model_name,url_host,cpe_type_cd,cpe_model_os_type,price,date,part_of_day,request_cnt,user_id
0,Краснодарский край,Краснодар,Apple,iPhone 7,ad.adriver.ru,smartphone,iOS,20368.0,2022-06-15,morning,1,45098
1,Краснодарский край,Краснодар,Apple,iPhone 7,apple.com,smartphone,iOS,20368.0,2022-06-19,morning,1,45098
2,Краснодарский край,Краснодар,Apple,iPhone 7,avatars.mds.yandex.net,smartphone,iOS,20368.0,2022-06-12,day,1,45098
3,Краснодарский край,Краснодар,Apple,iPhone 7,googleads.g.doubleclick.net,smartphone,iOS,20368.0,2022-05-16,day,1,45098
4,Краснодарский край,Краснодар,Apple,iPhone 7,googleads.g.doubleclick.net,smartphone,iOS,20368.0,2022-05-30,day,1,45098

In [9]:
part_1_pd_without=part_1_pd_without_date.drop(['date','cpe_model_os_type','cpe_manufacturer_name','city_name'], axis=1)

In [10]:
part_1_pd_without.head()

,region_name,cpe_model_name,url_host,cpe_type_cd,price,part_of_day,request_cnt,user_id
0,Краснодарский край,iPhone 7,ad.adriver.ru,smartphone,20368.0,morning,1,45098
1,Краснодарский край,iPhone 7,apple.com,smartphone,20368.0,morning,1,45098
2,Краснодарский край,iPhone 7,avatars.mds.yandex.net,smartphone,20368.0,day,1,45098
3,Краснодарский край,iPhone 7,googleads.g.doubleclick.net,smartphone,20368.0,day,1,45098
4,Краснодарский край,iPhone 7,googleads.g.doubleclick.net,smartphone,20368.0,day,1,45098

In [11]:
part_1_pd_without[part_1_pd_without.request_cnt==12].head()

,region_name,cpe_model_name,url_host,cpe_type_cd,price,part_of_day,request_cnt,user_id
57324,Краснодарский край,iPhone 11 Pro,mail.yandex.ru,smartphone,85883.0,day,12,341142
114795,Оренбургская область,P Smart Z,vk.com,smartphone,15924.0,evening,12,142413
115239,Оренбургская область,P Smart Z,m.vk.com,smartphone,15924.0,evening,12,142413
115325,Оренбургская область,P Smart Z,yandex.ru,smartphone,15924.0,evening,12,142413
117165,Республика Татарстан,iPhone X,icloud.com,smartphone,56357.0,night,12,148293

In [12]:
pd.unique(part_1_pd_without.user_id).shape

(41594,)

In [13]:
from tqdm import tqdm

new_dataframe=pd.DataFrame(columns=['user_id','url_host','cpe_type_cd','cpe_model_name','price','region_name','parts_of_day','request_cnt_mean'])

url_host_uniq=pd.unique(cudf_part_1_pd_without.url_host)
for url in url_host_uniq:
    user_id_uniq=pd.unique(part_1_pd_without[part_1_pd_without.url_host==url].user_id)
    for user in tqdm(user_id_uniq):  
        dataframer=part_1_pd_without[(part_1_pd_without.url_host==url) & (part_1_pd_without.user_id==user)].reset_index()
        df2 = pd.DataFrame({'user_id':user,'url_host':url,'cpe_type_cd':dataframer.cpe_type_cd[0],'cpe_model_name':dataframer.cpe_model_name[0],'price':dataframer.price[0],'region_name':dataframer.region_name[0],'parts_of_day':[dataframer.part_of_day.to_list()],'request_cnt_mean':dataframer.request_cnt.mean()})
        new_dataframe = pd.concat([df2, new_dataframe])

ModuleNotFoundError: No module named 'cudf'

In [ ]:
new_dataframe.head()